@tailwind base;
@tailwind components;
@tailwind utilities;



.s3 {
    background-image: url('assets/images/slide1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.s4 {
    background-image: url('assets/images/slide2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.s5 {
    background-image: url('assets/images/lab5.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    background-color: #1A4082;
}

.resultados {
    text-shadow: 3px 3px 2px rgb(25, 45, 102);
}

 
.footer {
    background-color: #1A4082;
}